html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calculator {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-gap: .25rem;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(100px, auto) repeat(5, 100px);
}

.calculator > button {
  cursor: pointer;
  border: 1px solid white;
}

.span-two {
  grid-column: span 2;
}

.span-four {
  grid-column: span 4;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}